<div id="page-wrapper" class="bg-white">
  <div class="border-bottom white-bg">
    <div class="container-fluid">
      <nav
        class="navbar navbar-static-top"
        role="navigation"
        style="margin-bottom: 0"
      >
        <div class="navbar-header">
          <a
            class="navbar-minimalize minimalize-styl-2 hideburger"
            id="hide"
            href="#"
            ><i class="fa fa-bars"></i>
          </a>
          <div class="navbar-brand float-left ml-3 mt-2">
            <a href="index.html">
              <img
                alt="image"
                src="img/doorcase-lightlogo.png"
                class="bigscreen"
                width="150px"
              />
            </a>
            <a href="index.html">
              <img
                alt="image"
                src="img/doorcase-logo.png"
                class="smallscreen"
                width="43.5px"
              />
            </a>
          </div>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li class="dropdown">
            <a class="count-info" href="notification.html">
              <i class="fa fa-bell"></i>
              <span class="label label-primary">8</span>
            </a>
          </li>
          <li>
            <a class="count-info" href="profile.html">
              <img
                alt="image"
                class="rounded-circle"
                src="img/profile_small.jpg"
                width="30px"
              />
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="wrapper border-bottom page-heading bg-white">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <ol class="breadcrumb bg-transparent mt-3">
            <li class="mr-3">
              <a href="javascript:history.back()" class="">
                <i class="fas fa-chevron-left"></i
              ></a>
            </li>
            <li class="breadcrumb-item active">Activities & News Feed</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper wrapper-content py-4 animated fadeInRight">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="row justify-content-center">
            <div class="col-10 px-2">
              <div
                class="media align-items-center"
                onclick="location.href='info-unit.html';"
                style="cursor: pointer"
              >
                <img
                  src="img/a4.jpg"
                  class="rounded-circle boxshadow align-self-center mr-3"
                  width="70px"
                  alt="profile"
                />
                <div class="media-body">
                  <h3 class="mt-0 mb-0 text-doorcase">B-10-2</h3>
                  <p class="m-0 text-doorcas">Widuri Impian Condo</p>
                </div>
              </div>
            </div>
            <div class="col-2 px-2">
              <a
                href="#"
                class="btn btn-primary btn-circle mt-3 float-right"
                data-toggle="modal"
                data-target="#additionalinfo"
                ><i class="fas fa-exchange-alt"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="wrapper wrapper-content animated fadeInRight py-3 mb-0 gray-bg"
    style="border-bottom: 1 px solid #fff"
  >
    <div class="row p-0 justify-content-center">
      <div class="col-lg-8 px-2">
        <div id="FilterContainer" class="mb-2 mt-2 multiple-items">
          <div class="widthfitcontent">
            <a
              class="btnfiltermain btnfilter m-1"
              value="rental"
              onclick="filterSelection('rental')"
            >
              <i class="fas fa-hand-holding-usd"></i> Payment</a
            >
          </div>
          <div class="widthfitcontent">
            <a
              class="btnfiltermain btnfilter m-1"
              value="maintenance"
              onclick="filterSelection('maintenance')"
              ><i class="fas fa-wrench"></i> Maintenance</a
            >
          </div>
          <div class="widthfitcontent">
            <a
              class="btnfiltermain btnfilter m-1"
              value="offers"
              onclick="filterSelection('offers')"
            >
              <i class="fas fa-hands-helping"></i> Offers</a
            >
          </div>
          <div class="widthfitcontent">
            <a
              class="btnfiltermain btnfilter m-1"
              value="viewing"
              onclick="filterSelection('viewing')"
            >
              <i class="fas fa-eye"></i> Viewing</a
            >
          </div>
          <div class="widthfitcontent">
            <a
              class="btnfiltermain btnfilter m-1"
              value="overdues"
              onclick="filterSelection('overdues')"
            >
              <i class="fas fa-exclamation-triangle"></i> Overdue</a
            >
          </div>
          <div class="widthfitcontent">
            <a
              class="btnfiltermain btnfilter current m-1"
              value="all"
              onclick="filterSelection('all')"
            >
              <i class="fas fa-bars"></i>
              All
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper wrapper-content animated pt-0 fadeInRight gray-bg">
    <div class="container-fluid">
      <div class="row mt-1 justify-content-center">
        <div class="col-lg-8">
          <div
            id="vertical-timeline"
            class="vertical-container light-timeline searchable"
          >
            <div class="empty" style="display: none">nothing here message</div>
            <div
              class="vertical-timeline-block filterDiv rental"
              data-name="all, rental"
            >
              <div class="vertical-timeline-icon white-bg">
                <img src="img/money-bag.svg" width="30px" />
              </div>
              <div class="vertical-timeline-content">
                <small class="datetime">
                  <i class="fas fa-bell"></i> 17:50 | 25 Dec 2020
                </small>
                <hr class="my-2" />
                <h3 class="font-normal my-1">Payment Received</h3>
                <p class="mt-0">
                  Conference on the sales results for the previous year. Monica
                  please examine sales trends in marketing and products. Below
                  please find the current status of the sale.
                </p>
              </div>
            </div>
            <div
              class="vertical-timeline-block filterDiv maintenance"
              data-name="all, maintenance"
            >
              <div class="vertical-timeline-icon white-bg">
                <img src="img/settings.svg" width="30px" />
              </div>

              <div class="vertical-timeline-content">
                <small class="datetime">
                  <i class="fas fa-bell"></i> 11:00 | 19 Dec 2020
                </small>
                <a href="activity-details.html" class="link"
                  ><i class="fas fa-arrow-right"></i
                ></a>
                <hr class="my-2" />
                <h3 class="font-normal my-1">Pipe Burst</h3>
                <p class="mt-0">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since.
                </p>
                <div class="demo-gallery">
                  <ul id="lightgallery" class="list-unstyled row">
                    <li
                      class="col-xs-6 col-sm-4 col-md-2 col-lg-2 p-2"
                      data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/1-1600.jpg"
                      data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/1-1600.jpg"
                    >
                      <a href="">
                        <img
                          class="img-responsive"
                          src="https://sachinchoolur.github.io/lightgallery.js/static/img/thumb-1.jpg"
                        />
                      </a>
                    </li>
                    <li
                      class="col-xs-6 col-sm-4 col-md-2 col-lg-2 p-2 img-hide"
                      data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg"
                      data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/2-1600.jpg"
                    >
                      <a href="">
                        <img
                          class="img-responsive"
                          src="https://sachinchoolur.github.io/lightgallery.js/static/img/thumb-2.jpg"
                        />
                      </a>
                    </li>
                    <li
                      class="col-xs-6 col-sm-4 col-md-2 col-lg-2 p-2 img-hide"
                      data-responsive="https://sachinchoolur.github.io/lightgallery.js/static/img/13-1600.jpg"
                      data-src="https://sachinchoolur.github.io/lightgallery.js/static/img/13-1600.jpg"
                    >
                      <a href="">
                        <img
                          class="img-responsive"
                          src="https://sachinchoolur.github.io/lightgallery.js/static/img/thumb-13.jpg"
                        />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div
              class="vertical-timeline-block filterDiv overdues"
              data-name="all, overdues"
            >
              <div class="vertical-timeline-icon white-bg">
                <img src="img/schedule.svg" width="30px" />
              </div>

              <div class="vertical-timeline-content">
                <small class="datetime">
                  <i class="fas fa-bell"></i> 07:50 | 17 Dec 2020
                </small>
                <a href="bills-subscription-fees.html" class="link"
                  ><i class="fas fa-arrow-right"></i
                ></a>
                <hr class="my-2" />
                <h3 class="font-normal my-1">Subscription fees Overdues</h3>
                <p class="mt-0">
                  Go to shop and find some products. Lorem Ipsum is simply dummy
                  text of the printing and typesetting industry. Lorem Ipsum has
                  been the industry's.
                </p>
              </div>
            </div>
            <div
              class="vertical-timeline-block filterDiv offers"
              data-name="all, offers"
            >
              <div class="vertical-timeline-icon white-bg">
                <img src="img/handshake.svg" width="30px" />
              </div>

              <div class="vertical-timeline-content">
                <small class="datetime">
                  <i class="fas fa-bell"></i> 18:34 | 11 Dec 2020
                </small>
                <hr class="my-2" />
                <h3 class="font-normal my-1">4 New Offers</h3>
                <p class="mt-0">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Iusto, optio, dolorum provident rerum aut hic quasi placeat
                  iure tempora laudantium ipsa ad debitis unde? Iste
                  voluptatibus minus veritatis qui ut.
                </p>
              </div>
            </div>
            <div
              class="vertical-timeline-block filterDiv viewing"
              data-name="all, viewing"
            >
              <div class="vertical-timeline-icon white-bg">
                <img src="img/eye.svg" width="30px" />
              </div>

              <div class="vertical-timeline-content">
                <small class="datetime">
                  <i class="fas fa-bell"></i> 20:50 | 05 Dec 2020
                </small>
                <hr class="my-2" />
                <h3 class="font-normal my-1">3 New views</h3>
                <p class="mt-0">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Iusto, optio, dolorum provident rerum aut hic quasi placeat
                  iure tempora laudantium ipsa ad debitis unde? Iste
                  voluptatibus minus veritatis qui ut.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="text-center">
      &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      Copyright by Jann Properties
    </div>
  </div>
</div>
